<%- include("templates/header") %>


<% if(!req.session.authenticated) { %>
    <h1>ok1</h1>
    <% include('templates/home', { isLogin: false, buttonText1: 'Sign up', buttonText2: 'Log in' }) %>
<% } else { %>
    <h1>ok2</h1>
    <% include('templates/h', { isLogin: true, buttonText1: 'Go to members area', buttonText2: 'Log out' }) %>
<% } %>

                      
<%- include("templates/footer") %>