<%- include("templates/header") %>
    <br>
    <h1>
        <%= pageTitle %>
    </h1>

    <form action='/submitLogin' method='post'>
        <input name='email' type='email' placeholder='email'>
        <input name='password' type='password' placeholder='password'>
        <button>Submit</button>
    </form>

    <br>

    <%- include("templates/footer") %>