<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="btn-group">
        <h1>ok3</h1>
    
        <h2>ok4</h2>
        <form action="/signup">
          <button type="submit" class="btn btn-dark btn-lg">
            <%= buttonText1 %>
          </button>
        </form>

        <div style="margin: 10px;"></div>
        <form action="/login">
          <button type="submit" class="btn btn-dark btn-lg">
            <%= buttonText2 %>
          </button>
        </form>
      
      
            <h2>ok5</h2>
        <form action="/members">
          <button type="submit" class="btn btn-dark btn-lg">
            <%= buttonText1 %>
          </button>
        </form>
        <br>
        <form action="/logout">
          <button type="submit" class="btn btn-dark btn-lg">
            <%= buttonText2 %>
          </button>
        </form>
   
    </div>
  </div>
  


  
  
